

<!-- <button [cModalToggle]="verticallyCenteredModal.id" color="primary" cButton>Nuevo Producto</button> -->
<div>
    <button  (click)="nuevaBodega()" cButton class="text-end">
        Nuevo
      </button>
    
    <table id="tblProductos" [striped]="true" cTable>
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Código</th>
                <th scope="col">Nombre</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <!-- @for (producto of this.ProductosList | paginate: { itemsPerPage: 10, currentPage: 1 }; track $index )  { -->
            @for (producto of this.BodegasList | slice: (page-1) * pageSize : page * pageSize;  track $index )  {
          
            <tr >
                <td>{{$index+1}}</td>
                <td>{{producto.id}}</td>
                <td>{{producto.name}}</td>
                <td>
                    <c-button-group aria-label="Basic example" role="group">
                        <!-- <button cButton color="success">
                            <svg cIcon name="cil-pencil" size="sm" title="Numbered List Icon"></svg>
                        </button> -->
    
                        <button (click)="modificarBodega(producto.id)" cButton class="btn btn-warning" title="Modificar Menú">
                            <svg cIcon class="me-1" name="cil-pencil"></svg>                
                          </button>  
    
                        <button cButton color="danger" (click)="eliminarBodega(producto)"> <svg cIcon name="cil-trash" size="sm"
                                title="Numbered List Icon"></svg>
                        </button>
    
                    </c-button-group>
                </td>
            </tr>
            }
            <br>
            <ngb-pagination [(page)]="page"
                [pageSize]="pageSize"
                [collectionSize]="this.BodegasList.length" />
    
        </tbody>
       
    </table>
    
</div>
